.homepage {
    background-color: red;
}

.homelist {
    background-color: green;
    color: white;
}

.title {
    color: red;
    text-align: center;
    font-weight: 700;
}

button {
    color: red;
    font-weight: 700;
}

.ing, .Steps {
    color: red;
}

.Steps {
    font-weight: bold;
}